[Unit]
Description=Gunicorn instance for a simple hello world app
After=network.target
[Service]
User=ec2-user

WorkingDirectory=/home/ec2-user/flaskApp
ExecStart=/home/ec2-user/flaskAppvenv/bin/gunicorn -b localhost:8000 app:app
Restart=always
[Install]
WantedBy=multi-user.target